{% extends 'buddies/base.html' %}
<h2>{% block title %}Login!{% endblock %}</h2>


{% block content %}
    <div class="credentials-wrapper city-center">
        <h2 id="login">Login!</h2>


        <div class="credentials">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Username</td>
                        <td><input name="username"/></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="password"></td>
                    </tr>
                </table>


                <button class="log-btn" type="submit">Log In</button>
            </form>

        </div>

        <br>
        <br>
        <p class="create-account"><a href="{% url 'users:signup' %}">Or Create an Account</a></p>
    </div>
{% endblock content %}