{% extends 'buddies/base.html' %}
{% block title %}Profile{% endblock title %}
{% load static %}
{% block content %}
    <div class="page-content">
        <div class="profile-page">
            <div class="wrapper">
                <div class="page-header page-header-small">
                    <div class="page-header-image" id="about-header" data-parallax="true"></div>
                    <div class="container">
                        <div class="content-center about-wrapper">
                            <h1 class="about">About</h1>

                        </div>
                    </div>

                    <div class="signup-info">
                        <div>
                            <h4>What is Kind Regards?</h4>
                        </div>
                    </div>
                    <div class="mission">
                        <p id="mission">
                            Kind Regards was born out of the idea that if only people could see other parts of the world
                            and form meaningful bonds with people who are not like them, that those experiences and
                            relationships would foster more understanding, tolerance, and a more compassionate society.
                            While travel is a great way for people to expand their horizons, not everyone has the
                            financial ability or the priority to participate in eye-opening travel.
                            <br>
                            <br>
                            The mission of Kind Regards is to intercept prejudice before it is cemented, and create
                            opportunities for youth to build authentic relationships with people who are different from
                            them. By talking about families, daily life hassles like public transportation versus
                            carpooling with mom, discussing favorite hobbies, and so forth, students will be able to
                            form a picture of a different kind of life, and understand the beauty and value in diverse
                            experiences.
                            <br>
                            <br>
                            Our mission, in short, is to help raise a generation of compassionate global citizens, one
                            friendship at a time.
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}