{% extends 'buddies/base.html' %}
{% block title %}Profile{% endblock title %}
{% load static %}
{% block content %}
    <div class="page-content">
        <div class="profile-page">
            <div class="wrapper">
                <div class="page-header page-header-small">
                    <div class="page-header-image" id="about-header" data-parallax="true"></div>
                    <div class="container">
                        <div class="content-center about-wrapper">
                            <h1 class="about">About</h1>

                        </div>
                    </div>

                    <div class="signup-info">
                        <div>
                            <h4>What is Kind Regards?</h4>
                        </div>
                    </div>
                    <div class="mission">
                        <p id="mission">
                            The mission of Kind Regards is to introduce students from different backgrounds and to
                            facilitate conversation—creating bonds and encouraging tolerance and compassion through
                            friendships. The application pulls in quality-of-life data concerning each student’s
                            hometown, and runs a program to pair students of similar ages who’s cities’ quality of
                            life scores differ by a significant margin. Once the pairing is complete, the application
                            provides a messaging platform where students can get to know one another and gain insight
                            about other parts of the world and other people’s life experiences, even if they never
                            have a chance to leave their city.
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}