{#<nav id="nav-menu-container">#}
{#    <ul class="nav-menu">#}
{#        <li class="nav">#}
{#            <a href="{% url 'buddies:index' %}">Home</a>#}
{#        </li>#}
{#        <!-- write if/else statement to switch login and logout#}
{#         depending on user authentication status-->#}
{#        {% if request.user.is_authenticated %}#}
{#         <li class="nav">#}
{#            <a href="{% url 'logout' %}">Logout</a>#}
{#        </li>#}
{#            {% else %}#}
{#        <li class="nav">#}
{#            <a href="{% url 'users:login' %}">Login</a>#}
{#        </li>#}
{#        {% endif %}#}
{#         <li class="nav">#}
{#            <a href="{% url 'buddies:profile' %}">Profile</a>#}
{#        </li>#}
{#         <li class="nav">#}
{#            <a href="{% url 'frontend:chat' %}">Chat</a>#}
{#        </li>#}
{#    </ul>#}
{#</nav>#}
{##}
{#  <!--==========================#}
{#    Hero Section#}
{#  ============================-->#}
{#  <section id="hero">#}
{#    <div class="hero-container">#}
{#      <h1>Make a New Friend</h1>#}
{#      <h2>The Mission of .....</h2>#}
{#      <a href="{% url 'users:login' %}" class="btn-get-started">Log In</a>#}
{#    </div>#}
{#  </section><!-- #hero -->#}
