<!--
UNNECESSARY FILE -- USE INDEX.HTML FROM BUILD AND CHATVIEW TO SEE REACT COMPONENTS
-->


{#{% extends 'buddies/base.html' %}#}
{##}
{#{% block content %}#}
{#    <h2>Messenger</h2>#}
{#    <div class="chat"></div>#}
{#    <!--react component goes in chat div-->#}
{#    <h3>Not sure what to say?</h3>#}
{#    <ul>#}
{#    <li class="topic">Convo topic #1</li>#}
{#    <li class="topic">Convo topic #2</li>#}
{#    <li class="topic">Convo topic #3</li>#}
{#    <li class="topic">Convo topic #4</li>#}
{#    </ul>#}
{#{% endblock content %}#}