{% extends 'buddies/base.html' %}

{% block content %}

    <h2>{% block title %}Make Woke Buddies{% endblock title %}</h2>

    {% if user.is_authenticated %}

{#why does username work here but first_name does not?#}

        <h3>Hi {{ user.first_name }}!</h3>
        <p><a href="{% url 'logout' %}">Log Out</a></p>

    {% else %}

        <p>Welcome to Better World Buddies! Please log in.</p>
        <a href="{% url 'users:login' %}">Login</a>
        <a href="{% url 'users:signup' %}">Or create an account</a>

    {% endif %}

    <p>New user signup is open during August and September.</p>
    <p>You will receive your pen pal the first week of October!</p>


{% endblock content %}