/*--------------------------------------------------------------
# Base Settings
--------------------------------------------------------------*/
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #666666;
  color: #FFFFFF;
  font-family: "Quicksand", sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
body a {
  color: #c7ffff;
}
body a:hover, body a:active, body a:focus {
  color: #7bffff;
  outline: none;
  text-decoration: none;
}
body p {
  padding: 0;
  margin: 0 0 30px 0;
}
body #logo {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #fff;
  display: inline;
  padding: 0 25px 0 0;
  margin: 0;
  font-weight: 100;
}
body h1 {
  font-family: "Pacifico", cursive;
}
body h3 {
  font-family: "Pacifico", cursive;
  font-weight: lighter;
}
body h4 {
  color: #c7ffff;
  text-align: center;
  margin: 30px;
}

.topic {
  display: block;
}

.prof-block {
  /*border: #61dafb solid 2px;*/
  text-align: center;
  background: white;
}

.nav {
  display: inline;
  color: #00CDFF;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../images/background2.jpg) top center fixed;
  background-size: cover;
  position: relative;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#hero h1 {
  padding: 15px;
}
#hero h2 {
  padding: 35px;
}
@media (min-width: 1024px) {
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #hero h1 {
    margin: 30px 0 10px 0;
    font-size: 64px;
    font-weight: 100;
    line-height: 56px;
    /*text-transform: uppercase;*/
    color: #fff;
  }
}
@media (min-width: 1024px) and (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
  }
}
@media (min-width: 1024px) and (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.btn-get-started {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #666666;
}
.btn-get-started h4 {
  font-weight: bolder;
}

.btn-get-started:hover {
  background: #7bffff;
  border: 2px solid #7bffff;
  color: #666666;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.signup-info {
  border: #c7ffff;
}

/*--------------------------------------
Profile Page
 --------------------------------------*/
.prof-pic {
  max-width: 200px;
}

.prof-block {
  text-align: center;
}

.user-info {
  /*border: darkred solid 2px;*/
  text-align: center;
}

.page-header {
  height: 100vh;
  max-height: 1050px;
  padding: 0;
  color: #FFFFFF;
  position: relative;
  background-position: center center;
  background-size: cover;
}
.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.page-header footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.page-header .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}
.page-header .container > .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 15px;
  color: #FFFFFF;
  width: 100%;
  max-width: 880px;
}
.page-header .category, .page-header .description {
  color: rgba(255, 255, 255, 0.5);
}
.page-header .page-header-small {
  height: 60vh;
  max-height: 440px;
}
.page-header .page-header:after, .page-header .page-header:before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}
.page-header .page-header:before {
  background-color: rgba(0, 0, 0, 0.5);
}
.page-header .container {
  z-index: 2;
}

.clear-filter:after, .clear-filter:before {
  display: none;
}

.cc-profile-image a {
  position: relative;
}
.cc-profile-image a:before {
  content: "";
  border: 15px solid rgba(55, 140, 63, 0.6);
  border-radius: 50%;
  /*height: 180px;*/
  width: 180px;
  position: absolute;
  left: 0;
  /*-webkit-animation: pulsate 1.6s ease-out;*/
  /*animation: pulsate 1.6s ease-out;*/
  /*-webkit-animation-iteration-count: infinite;*/
  /*animation-iteration-count: infinite;*/
  opacity: 0;
  z-index: 99;
}
.cc-profile-image img {
  position: relative;
  border-radius: 50%;
  height: 180px;
  /*width: 180px;*/
  padding: 0;
  margin: 0;
  border: 15px solid transparent;
  z-index: 9999;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.cc-profile-image a:hover img {
  -webkit-transform: scale(1.06, 1.06);
  transform: scale(1.06, 1.06);
}
.cc-profile-image a:hover:before {
  -webkit-animation: none;
  animation: none;
}

.page-header-image {
  background-image: url(../images/background3.jpg);
}

.score-heading {
  /*border: red solid 2px;*/
  width: auto;
  height: 70px;
}

.main {
  position: relative;
  background: #FFFFFF;
}

/*# sourceMappingURL=styles.css.map */
